# =========================
# Virtual Environment
# =========================

venv/

# =========================
# Python Cache
# =========================

__pycache__/
*.pyc

# =========================
# Datasets
# =========================



# =========================
# Environment Files
# =========================

.env

# =========================
# Logs
# =========================

logs/

# =========================
# ZIP Files
# =========================

*.zip

# =========================
# OS Junk
# =========================

.DS_Store
